body{
    background: url(wallpaperflare.com_wallpaper.jpg);
    background-size: 1920px 1200px;
    background-repeat: no-repeat;
    margin:0;
}
.tagline{
    width:300px;
}
.name{
    position: absolute;
    top: -50px;
    left: 0px;
    margin:0;
    padding-bottom: 30px;
    font-size: 80px;


}
#sidebar-section{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 233px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:   grey;
    color: black;
    overflow-x: hidden;

}
.sidebar {
    background-color:  #EBEBEB;
    padding: 20px;
    width: 250px;
  }
   
.sidebar ul {

    list-style-type: none;
    padding: 0;
    margin-top: 200px;
  }
  
.sidebar ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 34px;
    font-size: 20px;
  }
  
.sidebar ul li a {
    background-color: #152130;
    border-radius: 20px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-family: 'inter';
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
.tags{
    display: inline;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: black;
    margin:0;
    color: white;
    border: white;
    border-radius: 10px;
}
.navigation > div {
    margin: 0px 20px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }
span{
    margin: 0px 10px;
}
.tags{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    z-index: -2;
    background-color: black;
}
.name{
    margin-top: -16px;
    margin-left: 18px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 64px;
    font-family: 'montserrat-alt1';   
}
.frontpage div {
    font-family: 'magneto-bold', sans-serif;
    display: flex;
    justify-content: center;
    max-width: 900px;
    font-family: 'magneto';
    background-color: #00BAFF;
    color: white;
}
@font-face {
    font-family: 'montserrat-alt1';
    src: url('montserrat-alt1/fonts/ttf/MontserratAlt1-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('inter-cufonfonts/Inter-Light-BETA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'magneto';
    src: url('MAGNETOB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}